@charset "UTF-8";

@media screen and (max-width: 767px) {
  .contents {
    background: white;
    margin: 100px 100px;
    position: fixed;
    z-index: 6;
  }

  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo-main {
    z-index: 99;
    position: fixed;
    width: 120px;
    position: fixed;
    left: 0;
    right: 0;
    top: 45%;
    margin: auto;
    text-align: center;
    filter: drop-shadow(0px 0px 4px #00000066);
  }

  .bgs {
    z-index: 90;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .bgs .bg {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    opacity: 0;
    transition: opacity 3s ease;
  }

  .bgs .bg.bg--1 {
    background-image: url(../images/img_main_1.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 0s infinite;
  }

  .bgs .bg.bg--2 {
    background-image: url(../images/img_main_2.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 6s infinite;
  }

  .bgs .bg.bg--3 {
    background-image: url(../images/img_main_3.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 12s infinite;
  }

  .bgs .bg.bg--4 {
    background-image: url(../images/img_main_4.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 18s infinite;
  }

  .bgs .bg.bg--5 {
    background-image: url(../images/img_main_5.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 24s infinite;
  }

  .bgs .bg.bg--6 {
    background-image: url(../images/img_main_6.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 30s infinite;
  }

  .bgs .bg.bg--7 {
    background-image: url(../images/img_main_7.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 36s infinite;
  }

  .bgs .bg.bg--8 {
    background-image: url(../images/img_main_8.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 42s infinite;
  }

  .bgs .bg.bg--9 {
    background-image: url(../images/img_main_9.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 48s infinite;
  }

  .bgs .bg.bg--10 {
    background-image: url(../images/img_main_10.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 54s infinite;
  }

  .bgs .bg.bg--11 {
    background-image: url(../images/img_main_11.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 60s infinite;
  }

  .bgs .bg.bg--12 {
    background-image: url(../images/img_main_12.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 66s infinite;
  }

  .bgs .bg.bg--13 {
    background-image: url(../images/img_main_13.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 72s infinite;
  }

  .bgs .bg.bg--14 {
    background-image: url(../images/img_main_14.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 78s infinite;
  }

  .bgs .bg.bg--15 {
    background-image: url(../images/img_main_15.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 84s infinite;
  }


  @keyframes fadeinout {
    0% {
      opacity: 0
    }

    5% {
      opacity: 1
    }

    25% {
      opacity: 1
    }

    30% {
      opacity: 0
    }

    100% {
      opacity: 0
    }
  }

}

/*----------------------------------ここからPCモニターの記述-----------*/
@media screen and (min-width: 768px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo-main {
    z-index: 999;
    width: 120px;
    position: fixed;
    left: 0;
    right: 0;
    top: 45%;
    margin: auto;
    text-align: center;
    filter: drop-shadow(0px 0px 4px #00000066);
  }

  .bgs {
    z-index: 998;
    position: fixed;
    top: 100px;
    width: calc(100vw - 60px);
    height: calc(100vh - 140px);
  }

  .bgs .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s ease;
  }

  .bgs .bg.bg--1 {
    background-image: url(../images/img_main_1.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 0s infinite;
  }

  .bgs .bg.bg--2 {
    background-image: url(../images/img_main_2.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 6s infinite;
  }

  .bgs .bg.bg--3 {
    background-image: url(../images/img_main_3.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 12s infinite;
  }

  .bgs .bg.bg--4 {
    background-image: url(../images/img_main_4.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 18s infinite;
  }

  .bgs .bg.bg--5 {
    background-image: url(../images/img_main_5.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 24s infinite;
  }

  .bgs .bg.bg--6 {
    background-image: url(../images/img_main_6.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 30s infinite;
  }

  .bgs .bg.bg--7 {
    background-image: url(../images/img_main_7.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 36s infinite;
  }

  .bgs .bg.bg--8 {
    background-image: url(../images/img_main_8.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 42s infinite;
  }

  .bgs .bg.bg--9 {
    background-image: url(../images/img_main_9.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 48s infinite;
  }

  .bgs .bg.bg--10 {
    background-image: url(../images/img_main_10.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 54s infinite;
  }

  .bgs .bg.bg--11 {
    background-image: url(../images/img_main_11.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 60s infinite;
  }

  .bgs .bg.bg--12 {
    background-image: url(../images/img_main_12.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 66s infinite;
  }

  .bgs .bg.bg--13 {
    background-image: url(../images/img_main_13.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 72s infinite;
  }

  .bgs .bg.bg--14 {
    background-image: url(../images/img_main_14.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 78s infinite;
  }

  .bgs .bg.bg--15 {
    background-image: url(../images/img_main_15.jpg);
    background-size: cover;
    background-position: center;
    animation: fadeinout 90s 84s infinite;
  }

  @keyframes fadeinout {
    0% {
      opacity: 0
    }

    5% {
      opacity: 1
    }

    25% {
      opacity: 1
    }

    30% {
      opacity: 0
    }

    100% {
      opacity: 0
    }
  }
}
