@charset "UTF-8";

/*--- Display : Mobile ---*/
.wrap {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding-left: 20px;
  padding-right: 20px;
}

#philosophy {
  display: block;
  font-weight: 700;
  font-size: 23px;
  line-height: 40px;
  text-align: justify;
}

.philosophy-image {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 248px;
  background-image: url(../images/img_bg_philosophy.png);
  background-size: cover;
  background-position: center;
}

.philosophy-image img {
  width: 240px;
  height: auto;
  margin-left: calc(50% - 120px);
}

#story {
  margin-bottom: 120px;
}

#story h1 {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 10px;
}

#story p {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 2;
}

#story img {
  margin: 0;
  display: block;
  width: 75vw;
  padding-top: 120px;
  padding-bottom: 60px;
  margin: auto; }

#founder {
  margin-bottom: 80px ;
}

#founder p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 10px;
}

#founder .name {
  font-size: 15px;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

#founder span {
  margin-right: 0.5em;
  font-weight: 700;
}

.portlait {
  display: block;
  width: 180px;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 24px;
}

#company {
  background-color: #F5F5F5;
  padding: 40px 20px;
  font-size: 11px;
  line-height: 20px;
}

.company-logo {
  width: 162px;
  height:auto;
  margin-bottom: 30px;
}

.map iframe{
  margin-top: 30px;
  margin-bottom: 30px;
  width:100%;
  height: 100%;
}

.company-logo {
  width: 162px;
  height:auto;
  margin-bottom: 30px;
}

.company-outline {
  .--en {
    color: #666;
  }
}

.map {
  position: relative;
  width:100%;
  padding-top: 52%;
}

.map iframe{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.company-detail span{
font-weight: 500;
}

.col2_l {
margin-bottom: 20px;
}

/*--- Display : PC ---*/
@media screen and (min-width: 768px) {
  .wrap {
    max-width: 1296px;
    margin-right: auto;
    margin-left: auto;
  }

  .inner {
    padding-left: 112px;
    padding-right: 112px;
  }

  #philosophy {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 2;
    text-align: justify;
    margin-bottom: 240px;
  }

  .philosophy-image {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 800px;
    background-image: url(../images/img_bg_philosophy.png);
    background-size: cover;
    background-position: center;
  }

  .philosophy-image img {
    display: block;
    width: 50vw;
    max-width: 620px;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
  }

  #philosophy p {
    margin-top: 40px;
  }

  #story {
    padding-top: 80px;
    margin-bottom: 200px;
  }

  #story h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  #story p {
    font-weight: 700;
    font-size: 22px;
    line-height: 2;
  }

  #story img {
    margin: 0;
    display: block;
    width: 630px;
    max-width: 60vw;
    margin-bottom: 120px;
    margin-right: auto;
    margin-left: auto;
  }

  #founder {
    padding-top: 80px;
    margin-bottom: 200px ;
  }


  #founder p {
    font-size: 15px;
    line-height: 30px;
    width: 72%;
    margin-bottom: 24px;
  }

  #founder .name {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  #founder p span {
    margin-right: 0.5em;
    font-weight: 700;
  }

  .portlait {
    float: right;
    width: 186px;
    height: auto;
    margin-left: 112px;
  }

  #company {
    display: block;
    background-color: #F5F5F5;
    padding: 90px 72px;
    font-size: 13px;
    line-height: 26px;
  }

  .company-inner {
    max-width: 1296px;
    margin-right: auto;
    margin-left: auto;
  }

  .company-logo {
    width: 297px;
    height:auto;
    margin-bottom: 40px;
  }

  .company-outline {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
  }

  .company-detail {
    display: inline-block;
    max-width: 1296px;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
  }

  .company-detail span{
  font-weight: 500;
  }

  .col2_l , .col2_r {
    display: block;
    width: calc(50% - 18px);
  }


  .col2_l {
    float: left;
  }

  .col2_r {
    float: right;
}

  .map {
    position: relative;
    width:100%;
    padding-top: 52%;
  }

  .map iframe{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

}
